/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Beginning of my code */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*header, nav, p, div, a, img, h1, h2, address, section, footer {
	border: 1px solid purple;
}*/

header {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 2% 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
}

nav a {
	color: darkgrey;
	text-decoration: none;
}

.first-section {
	display: flex;
	justify-content: space-evenly;
	width: 80%;
	padding-bottom: 3%;
}

.first-section div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 45%;
}

.first-section div h1 {
	font-size: 500%;
	text-align: center;
}

.first-section div a {
	padding: 1% 6%;
	text-decoration: none;
	color: black;
	border: 1px solid black;
}

.first-section img {
	width: 39%;
	padding: 3%;
}

.second-section {
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding: 30px 0 20px 0;
	border-top: 2px solid black;
}

.second-section div {
	width: 48%;
}

.middle-img-wrap {
	display: flex;
	justify-content: center;
	width: 80%;
	padding: 2% 0;
}

.middle-img {
	width: 100%;	
}

.third-section {
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding: 20px 0 30px 0;
	border-bottom: 2px solid black;
}

.third-section div {
	width: 31%;
}

h2 {
	font-size: 115%;
}

footer {
	width: 80%;
	padding: 2% 0;
}

.homepage-footer {
	padding-top: 40px;
}

.copyright {
	text-align: center;
	margin: 2%;
}

/* Code for services.html */

.services-header-img {
	width: 80%;
}

.services-section {
	width: 80%;
	padding: 2% 0;
	border-bottom: 1px solid black;
}

.content-boxes-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	padding: 2% 0;
	border-bottom: 2px solid black;
}

.content-boxes {
	display: flex;
	flex-direction: column;
	width: 49%;
	margin: 1% 0;
	background: whitesmoke;
	border: 1px solid black;
}

.content-boxes h2 {
	margin: 2%;
}

.content-boxes p {
	margin: 2%;
}

.content-boxes a {
	border: 1px solid black;
	border-radius: 5px;
	background: white;
	text-decoration: none;
	text-align: center;
	color: black;
	font-size: 85%;
	margin: 2%;
	padding: 1% 6%;
	width: 30%;
}

footer section {
	display: flex;
	justify-content: space-between;
}

footer section div {
	width: 49%;
	margin: 1% 0;
}

.footer-img {
	display: flex;
	justify-content: center;
}

footer ul {
	margin: 2% 0;
	line-height: 2rem;
}

footer li {
	list-style: square inside;
}

p {
	line-height: 1.25rem;
}

/* Code for stretch goal, product.html */

/*.products-header, .product-1-wrapper, .product-2-wrapper, .product-3-wrapper, .products-first-section, .products-footer, .products-header-img {
	border: 1px solid purple;
}

p, h2, div, img {
	border: 1px solid purple;
} */

.products-header-img {
	width: 80%;
	border-radius: 100px;
	height: 50%;
}

.products-first-section {
	width: 80%;
	margin: 2% 0;
	padding: 1% 0;
	background: mistyrose;
	border-radius: 40px;
	text-align: center;
	border: 1px solid pink;
}

.products-first-section h2 {
	font-size: 200%;
	padding: 1% 0;
}

.products-first-section p {
	padding: 0 3% 2% 3%;
}

.product-1-wrapper {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-1-wrapper div {
	width: 49%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: thistle;
	border-radius: 50px;
	height: 60%;
	border: 1px solid plum;
}

.product-1-wrapper p {
	padding: 0 3%;
}

.product-1-wrapper img {
	width: 49%;
	border-radius: 100px;
	border: 1px solid lavender;
}

.product-2-wrapper {
	width: 80%;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
}

.product-2-wrapper div {
	width: 49%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: lightskyblue;
	border-radius: 50px;
	height: 60%;
	border: 1px solid skyblue;
}

.product-2-wrapper p {
	padding: 0 3%;
}

.product-2-wrapper img {
	width: 49%;
	border-radius: 100px;
	border: 1px solid lightskyblue;
}

.product-3-wrapper {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-3-wrapper div {
	width: 49%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: blanchedalmond;
	border-radius: 50px;
	height: 60%;
	border: 1px solid bisque;
}

.product-3-wrapper p {
	padding: 0 3%;
}

.product-3-wrapper img {
	width: 49%;
	border-radius: 100px;
	border: 1px solid blanchedalmond;
}

/* Code for Responsive Design I project */

@media (max-width: 800px) {
	header, .first-section, .second-section, .middle-img-wrap, .third-section, footer {
		width: 90%;
	}

	header {
		flex-direction: column-reverse;
	}

	header div {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 0;
	}

	nav {
		width: 100%;
		padding: 10px 0;
	}

	.first-section div {
		margin: 40px 0;
	}

	.first-section div h1 {
		font-size: 425%;
	}

	.first-section div a {
		padding: 1% 15%;
		margin: 10px 0;
	}

	.first-section img {
		display: none;
	}
}

@media (max-width: 500px) {
	nav {
		flex-direction: column;
		justify-content: space-around;
	}

	nav a {
		padding: 10px 0;
		border-bottom: 1px solid darkgrey;
		width: 100%;
		text-align: center;
	}

	nav a:first-child {
		border-top: 1px solid darkgrey;
	}

	.second-section {
		flex-direction: column;
	}

	.second-section div {
		width: 100%;
		padding: 20px 0;
	}

	.second-section div:first-child {
		margin-top: 10px;
	}

	.second-section div:last-child {
		margin-bottom: 10px;
	}

	.third-section {
		flex-direction: column;
	}

	.third-section div {
		width: 100%;
		padding: 20px 0;
	}

	.third-section div:first-child {
		margin-bottom: 10px;
	}

	.third-section div:last-child {
		margin-top: 10px;
	}
}
